@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
}

.containerr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
}

.cardd {
    display: flex;
    flex-direction: column;
    background: #000000;
    color: #ffffff;
    max-width: 30rem;
}

.headerr {
    display: flex;
    padding: 2rem 0.5rem;
}

.headerr-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.headerr-text .title {
    font-size: 1.2rem;
    font-weight: 700;
}

.headerr-text .date {
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

.headerr img {
    width: 10rem;
    border-radius: 0.5rem;
}

.bodyy {
    padding: 1rem 3rem;
}

.footerr {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.footerr button {
    background: transparent;
    border: none;
}

.footerr button {
    font-size: 1.2rem;
    color: #ffffff;
}

.footerr a {
    text-decoration: underline;
    color: #ffffff;
}

.article {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.article img {
    max-width: 60rem;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    
}

.article .title {
    font-size: 2rem;
    font-weight: 700;
    align-self: center;
    margin-bottom: 1rem;
}

.article .date, 
.article .author {
    font-size: 0.8rem;
    font-weight: 300;
    align-self: center;
}

.article .author {
    margin-bottom: 1rem;
    font-weight: 500;
}

.article .content {
    /* align-self: center; */
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.article .comment-section {
    /* margin-left: 1rem; */
}

.article .comment-section .comment-section-title {
    font-weight: 600;
    font-size: 1.8rem;
}

.article .comment-section .comment {
    margin-top: 1rem;
}

.article .comment-section .comment:last-of-type {
    margin-bottom: 2rem;
}

.article .comment-section .comment span {
    font-weight: 600;
}

form {
    margin-bottom: 2rem;
}

form input {
    width: 80%;
    padding: 1rem 2rem;
}

form button {
    padding: 1rem 2rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .article {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}